@font-face {
  font-family: metro-ui;
  src: url(../fonts/weblysleekuil.ttf);
}
.dock-control {
  font-family: metro-ui;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4C4C58;
}
.panel-container {
  position: absolute;
  top: 0;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-left: 1px solid #5A5B5C;
  border-right: 1px solid #5A5B5C;
  border-bottom: 1px solid #5A5B5C;
}
.dock-bar {
  position: absolute;
  background: #3f3f46;
  z-index: 1;
}
.dock-bar .dock-bar-item {
  color: #ffffff;
  overflow: visible;
  white-space: nowrap;
}
.dock-bar.left {
  width: 25px;
  left: 0;
  top: 0;
  bottom: 0;
}
.dock-bar.left .dock-bar-item {
  ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  padding-left: 15px;
  padding-bottom: 4px;
}
.dock-bar.left .dock-bar-item span {
  cursor: pointer;
  border-bottom: 2px solid #787885;
}
.dock-bar.left .dock-bar-item span:hover {
  border-bottom: 2px solid #007acb;
}
.dock-bar.bottom {
  height: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-bar.right {
  width: 25px;
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-bar.right .dock-bar-item {
  ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  padding-left: 15px;
  padding-bottom: 4px;
}
.dock-bar.right .dock-bar-item span {
  cursor: pointer;
  border-bottom: 2px solid #787885;
}
.dock-bar.right .dock-bar-item span:hover {
  border-bottom: 2px solid #007acb;
}
.dock-panel {
  position: absolute;
  overflow: hidden;
  background: #3b3b42;
}
.dock-panel.horizontal {
  min-width: 50px;
  width: 200px;
}
.dock-panel.horizontal.collapsed {
  width: 0px !important;
  min-width: 0px !important;
}
.dock-panel.horizontal.left {
  left: 0;
  top: 0;
  bottom: 0;
}
.dock-panel.horizontal.left .panel-wrapper {
  right: 3px;
}
.dock-panel.horizontal.right {
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-panel.horizontal.right .panel-wrapper {
  left: 3px;
}
.dock-panel.vertical {
  height: 200px;
  min-height: 50px;
}
.dock-panel.vertical.collapsed {
  height: 0px !important;
}
.dock-panel.vertical.top {
  left: 0;
  right: 0;
  top: 0;
}
.dock-panel.vertical.top .panel-wrapper {
  bottom: 3px;
}
.dock-panel.vertical.bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-panel.vertical.bottom .panel-wrapper {
  top: 3px;
}
.dock-panel .panel-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-panel .panel-wrapper .panel-header {
  color: #ffffff;
  padding: 1px 5px 1px 5px;
  border-bottom: 1px solid #007acb;
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dock-panel .panel-wrapper .panel-header .pinned {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  writing-mode: tb-rl;
}
.dock-panel .splitter {
  position: absolute;
  background: #5A5B5C;
}
.dock-panel .splitter.horizontal {
  width: 3px;
  cursor: w-resize;
  border-left: 1px solid #3b3b42;
  border-right: 1px solid #3b3b42;
}
.dock-panel .splitter.horizontal.left {
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-panel .splitter.horizontal.right {
  left: 0;
  top: 0;
  bottom: 0;
}
.dock-panel .splitter.vertical {
  height: 3px;
  cursor: n-resize;
  border-top: 1px solid #3b3b42;
  border-bottom: 1px solid #3b3b42;
}
.dock-panel .splitter.vertical.top {
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-panel .splitter.vertical.bottom {
  left: 0;
  right: 0;
  top: 0;
}
.absolute {
  position: absolute;
}
.absolute.fill {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.icon {
  padding: 6px 0px;
  font-size: 9px;
}
