.dock-control {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dock-panel {
    position: absolute;
    &.horizontal {
        width: 200px;
        &.left {
            left: 0;
            top: 0;
            bottom: 0;
        }
        &.right {
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    &.vertical {
        height: 200px;

        &.top {
            left: 0;
            right: 0;
            top: 0;
        }
        &.bottom {
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .panel-header {

    }
    .panel-content {
        position: absolute;
        left: 0;
        right: 0;
        top:30px;
        bottom: 0;

    }

    .splitter {
        position: absolute;
        background: #555555;
        &.horizontal {
            width: 5px;
            cursor: w-resize;
            &.left {
                right: 0;
                top: 0;
                bottom: 0;
            }
            &.right {
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
        &.vertical {
            height: 5px;
            cursor: n-resize;
            &.top {
                left: 0;
                right: 0;
                bottom: 0;
            }
            &.bottom {
                left: 0;
                right: 0;
                top: 0;
            }
        }
    }

}

.absolute {
    position: absolute;
    &.fill{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}