<div class="dock-control" ng-mousemove="drag($event)" ng-mouseup="endDrag()">
    <div class="dock-bar left">
        <div class="dock-bar-item" ng-repeat="panel in panels|filter:{ orientation: $orientation.left}">
            <span ng-click="panel.toggleCollapse()">{{panel.header}}</span>
        </div>
    </div>
    <div class="dock-bar bottom"></div>
    <div class="dock-bar right">
        <div class="dock-bar-item" ng-repeat="panel in panels|filter:{ orientation: $orientation.right}">
            <span ng-click="panel.toggleCollapse()">{{panel.header}}</span>
        </div>
    </div>
    <div class="panel-container" ng-transclude></div>
</div>